.navbar {
    width: 100%;
    background-color: rgb(139, 44, 24);
    overflow: hidden;
}
    .navbar a {
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        width: 25%;
        text-align: center;
    }
    .navbar a:hover {
    background-color: rgb(79, 19, 6);
    }